doctype html
html(xmlns='http://www.w3.org/1999/xhtml')
  head
    meta(http-equiv='Content-Type', content='text/html; charset=utf-8')
  body
    #hostname=hostname
    #page_url=page_url
    #xpath=xpath
    #event_name=event_name
